.venv/
__pycache__/
*.py[cod]
.DS_Store
data/*.csv
prompt/
fake-data-script/Keyword Stats 2026-06-09 at 11_22_17.csv
.env
digital-marketing-dbt/logs/dbt.log
digital-marketing-dbt/logs/query_log.sql
digital-marketing-dbt/digital_marketing/README.md
